body
{
	margin: 0px;
	
}
#switch
{
	min-height: 50px;
	height: 10vh;
	background-color: #042E47;
	width: 100vw;
	text-align: center;
}
.label
{
	margin: 0px;
	display: inline;
	clear: none;
	font-family: sans-serif;
	font-size: auto;
}
#arrow
{
	transform: rotate(0deg);
	cursor: pointer;
	transition: transform 1s;
}
.topRow
{
	max-height: 100%;
	width: auto;
	height: 100%;
	display: inline;
}
#container
{
	width: 100vw;
}
#encrypt
{
	overflow: hidden;
	max-height: calc(100vh - 50px);
	height: 90vh;
	background-color: #DDDDDF;
	width: 100vw;
	float: left;
	position: fixed;
	transition: width 1s;
	border-right-width: 2px;
}
#encrypt #txtEncrypt
{
	display: block;
	margin-top: 10vh;
	margin-left: 25vw;
	height: 25%;
	width: 50vw;
}
#enBtn
{
	text-align: center;
	margin-top: 2vh;
	margin-left: 25vw;
}
#canvas
{
	visibility: hidden;
}
#decrypt
{
	overflow: hidden;
	max-height: calc(100vh - 50px);
	height: 90vh;
	background-color: #CDCDCF;
	width: 0vw;
	position: fixed;
	float: right;
	left: 100vw;
	transition: width 1s, left 1s;
}
#output
{
	font-family: sans-serif;
	font-size: 1.2em;
	display: block;
	top: 15vh;
	left: 15vw;
	position: relative;
}
#outText
{
	width: 50vw;
	height: 40vh;
}